body{
	font-size: 14px;
	margin: 0;
	overflow: hidden;
}
#editor { 
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
}

/*#prompt{
	border-style: none;
	border-color: transparent;
	overflow: auto;
	padding: 0;
}
#prompt{
	width: 100%;
	resize: none;
}
#console{
	float: left;
	background-color: #dddddd;
}*/