body {
	font-size: 16px;
	margin: 0;
	overflow: hidden;
}
#editor {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    resize: horizontal;
}
#terminal {
	position: absolute;
	background-color: #dddddd;
	font-family: 'Droid Sans Mono', monospace;
	overflow-y: scroll;
}
#run {
	position: absolute;
}
.terminal-entry {
	/*padding: 10px;*/
}
.terminal-error {
	/*padding: 10px;*/
	color: #cc0000;
}
/*#prompt{
	border-style: none;
	border-color: transparent;
	overflow: auto;
	padding: 0;
}
#prompt{
	width: 100%;
	resize: none;
}*/